<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/images/user.jpg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="css/Style.css">
    <title>Home</title>
</head>
<body>

    <div class="container-fluid mt-4">
  
      <div class="wrapper ">
        <div class="row justify-content-center mt-2">
          <div class="row">
            <div class="col-md-12">
              <img src="./images/CNLogo.png" class="CNLogo" alt="" />
            </div>
          </div>
  
  
          <div class="col-md-5 border border-danger p-5 rounded box">
            <div class="msg justify-content-center">
              <p>Login Sucessful Ninja🤘</p>
              <span>
                <img class="ninjaLogo ms-3" src="./images/codingNinjas.jpg" alt="" />
              </span>
            </div>
            <form id="logout" action="/logout" method="POST">
              <div class="d-grid gap-2 col-8 mx-auto mt-4">
                <a onclick="document.getElementById('logout').submit()" class="btn btn-primary  mb-4 " href="#"
                style="text-decoration:none">LOG OUT</a>
  
              </div>
             
            </form>
  
      
          </div>
        </div>
      </div>
    </div>
  
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
  
  </body>

</html>