* {
    font-family: "Open Sans", sans-serif;
  }

  
.CNLogo {
    margin-top: 10px;
    margin-left: 10px;
    height: 50px;
    width: 100px;
  }
  .ninjaLogo {
    display: inline;
    width: 37px;
    height: 37px;
  }
  
  .login-box {
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
    align-content: center;
  }
   */
 
  
  .err-msg {
    border-radius: 8px;
    margin-bottom: 12px;
    color: red;
  }
  
  .box {
    background-color: white;
   
    transition: all 0.2s ease-in-out;
  }
  
  .box:hover {
    box-shadow: 2px 2px 4px 4px rgb(242, 131, 131);
    transform: scale(1.02);
  }
  
  .msg {
    text-align: center;
    font-size: 26px;
    height: 60px;
    display: flex;
  }
  
  .msg-s {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
  }
  
.para{
    color: red;
    text-align: center;
    width: 100%;
} 